/* google font import */

    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik+Mono+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');




/* id selector (one-off items) */



header{
  background:#55d6aa;
}

#header img {
  height: 100px;
  padding: 5px;
}

 h2 {
  text-align: center;
}

#categories {
  display: grid;
  grid-template-columns: 50% 50%;
}

#categories p {
  text-align: center;
}

  nav ul {
    margins: auto;
    padding: 20px 0;
    list-style-type: none;
    text-align: center;
  }

  nav li {
    display: inline;
    margin-left:70px;
    padding-top: 23px;

  }

  nav a {
    colour:#444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Fredoka One', cursive; margin: 0;

  }

  nav a:hover{
    color: #000000;

  }

  #header {

    background-color: #869deb;

    background-image: url(checks.svg), url(checks.svg); background-position: top, bottom; background-repeat: repeat-x;

    background-size: 35px;

    border-bottom: white 10px solid;

    margin-bottom: 40px;

    padding-top: 50px;

    padding-bottom: 40px;

    text-align: center;


  }

  /*  tag selectors */

   body {

     background-color: #869deb;

     color: #000000;

     font-family:'Fredoka One', cursive; margin: 0;

  }

    h1 {

      color: #ffffff;

      font-family: 'Rubik Mono One', sans-serif;

      font-size: 3em;

      margin: 0

       }


    #menu {

      background-color: #ffffff ;
       background-size: 46px;
       border-bottom: #ffffff 10px solid;
       border-top: #ffffff 4px solid;
       display: grid;
       margin: auto;
       max-width: 1140px;
       padding: 20px 0;
       padding-bottom: 2.5em;
       grid-template-rows: auto;

      }

            #menu div {

              grid-column: span 1;
              margin: 0 1em;

              }


    /* button */

    .btn-yellow {

      background-color: #FF0;
      border: 3px solid #BB0;
      border-radius: 5px;
      color: #DA0;
      cursor: pointer;
      display: inline-block;
      font-size: 1.5em;
      padding: 0 10px 2px 10px;
      transition: background-color 0.5s;
      transition: color 0.5s;
    }

    .btn-yellow:hover {

        color: #FF0;
        background-color: #DA0;
        text-decoration: none;
        transition: background-color 0.5s;
        transition: color 0.5s;

      }


    #footer {

        color: white;
        font-size: 0.8em;
        opacity: 0.4;
        padding: 1em;
        text-align:center;


      }
      /* button */

      /* button */

    .btn-red {

        background-color: #FF0;
        border: 3px solid #BB0;
        border-radius: 5px;
        color: #DA0;
        cursor: pointer;
        display: inline-block;
        font-size: 1.5em;
        padding: 0 10px 2px 10px;
        transition: background-color 0.5s;
        transition: color 0.5s;

      }

    .btn-red:hover {

          color: #FF0;
          background-color: #DA0;
          text-decoration: none;
          transition: background-color 0.5s;
          transition: color 0.5s;

        }


    #footer {

          color: white;
          font-size: 0.8em;
          opacity: 0.4;
          padding: 1em;
          text-align:center;


        }



        /* button */

        /* button */

      .btn-blue {

          background-color: #FF0;
          border: 3px solid #BB0;
          border-radius: 5px;
          color: #DA0;
          cursor: pointer;
          display: inline-block;
          font-size: 1.5em;
          padding: 0 10px 2px 10px;
          transition: background-color 0.5s;
          transition: color 0.5s;

        }

      .btn-blue:hover {

            color: #FF0;
            background-color: #DA0;
            text-decoration: none;
            transition: background-color 0.5s;
            transition: color 0.5s;

          }


      #footer {

            color: white;
            font-size: 0.8em;
            opacity: 0.4;
            padding: 1em;
            text-align:center;


          }


          /* button */

          /* button */

        .btn-green {

            background-color: #FF0;
            border: 3px solid #BB0;
            border-radius: 5px;
            color: #DA0;
            cursor: pointer;
            display: inline-block;
            font-size: 1.5em;
            padding: 0 10px 2px 10px;
            transition: background-color 0.5s;
            transition: color 0.5s;
          }

        .btn-green:hover {

              color: #FF0;
              background-color: #DA0;
              text-decoration: none;
              transition: background-color 0.5s;
              transition: color 0.5s;

            }

          /* button */



        #footer {

              color: black;
              font-size: 0.8em;
              opacity: 0.4;
              padding: 1em;
              text-align:center;
            }

        #words  {
          color: black;
          font-size: 4em;
          padding: 10px;
          background-color: white;
          background-size: 30px;
          border-bottom: white 10px solid;
          border-top: white 4px solid; display: grid;
          display:grid;
          margin: auto;
          max-width: 1140px;
          padding: 20px 0;
          padding-bottom: 2.5em;
          grid-template-columns: 1fr;
          align-content:center;

        }

        #words .word {
      float: right;
      padding-right: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #whit;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
