<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <meta charset="utf-8" />
    <title>Slang Across The World</title>
    <meta name="description" content="Kiwi, aussie, British and American Slang!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a><li>
          <li><a href='expressions'>Expressions</a><li>
          <li><a href='Sayings'>Sayings</a><li>
          <li><a href='Objects'>Objects</a><li>
          <li><a href='R18'>R18</a><li>

        </ul>
      </nav>
    </header>

    <div id="liquor">
      <img src="{{ url_for('static', filename='liqour.gif') }}" />


    <div id="words">
      <h2>Alcohol </h2>

      <body>

      <div class="grid-container">
        <div class="grid-item">NZ</div>
        <div class="grid-item">Booze</div>
        <div class="grid-item">AUSSIE</div>
        <div class="grid-item">Plonk</div>
        <div class="grid-item">UK</div>
        <div class="grid-item">Juice</div>
        <div class="grid-item">USA</div>
        <div class="grid-item">Hooch</div>
      </div>

        </body>

</ul>
</div>



  </body>

</html>
