<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <meta charset="utf-8" />
    <title>Slang Across The World</title>
    <meta name="description" content="Kiwi, aussie, British and American Slang!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
            <li>  <img id= logo src="{{ url_for('static', filename='world.png') }}" />
          <li><a href='/'>Home</a><li>
          <li><a href='expressions'>Expressions</a><li>
          <li><a href='Sayings'>Sayings</a><li>
          <li><a href='Objects'>Objects</a><li>
          <li><a href='R18'>R18</a><li>
        </ul>
      </nav>
    </header>

    <div id="goodbyechick">
      <img src="{{ url_for('static', filename='goodbye.gif') }}" />

    <div id="words">
      <h2>Goodbye </h2>

  <div class="grid-container">
    <div class="grid-item">NZ</div>
    <div class="grid-item">Laterz Cuz</div>
    <div class="grid-item">AUSSIE</div>
    <div class="grid-item">Hooroo</div>
    <div class="grid-item">UK</div>
    <div class="grid-item">Toodle Pip</div>
    <div class="grid-item">USA</div>
    <div class="grid-item">See you later</div>
  </div>

  <div id="button">
    <p>
    <center>  <a class="btn-red" href="Sayings">Sayings</a></center>
  </div>

    <div id="invisble">
    invisble
    </div>

  </body>

</html>
