<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <meta charset="utf-8" />
    <title>Slang Across The World</title>
    <meta name="description" content="Kiwi, aussie, British and American Slang!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a><li>
          <li><a href='expressions'>Expressions</a><li>
          <li><a href='Sayings'>Sayings</a><li>
          <li><a href='Objects'>Objects</a><li>
          <li><a href='R18'>R18</a><li>
        </ul>
      </nav>
    </header>

    <div id="header">
      <img src="{{ url_for('static', filename='aussie_flag.svg') }}" />
      <img src="{{ url_for('static', filename='nz_flag.svg') }}" />
      <img src="{{ url_for('static', filename='uk_flag.svg') }}" />
      <img src="{{ url_for('static', filename='usa_flag.svg') }}" />
      <h1>Welcome To Slang Across The World</h1>
      <em>Slang in NZ &bull; AUS &bull; UK &bull; USA</em>
    </div>


    <div id="menu">
      <h2>Choose A Slang Categories</h2>

      <div id="categories">
        <p>
          <a class="btn-yellow" href="expressions">Expressions</a>
        </p>
        <p>
          <a class="btn-red" href="Sayings">Sayings</a>
        </p>
        <p>
          <a class="btn-blue" href="Objects">Objects</a>
        </p>
        <p>
          <a class="btn-green" href="R18">R18</a>
        </p>
      </div>

    </div>

    <div id="footer">
      Disclaimer: May contain inappropriate content
    </div>

  </body>

</html>
