<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <meta charset="utf-8" />
    <title>Slang Across The World</title>
    <meta name="description" content="Kiwi, aussie, British and American Slang!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href='#'>Home</a><li>
          <li><a href='#'>Expressions</a><li>
          <li><a href='#'>Sayings</a><li>
          <li><a href='#'>Objects</a><li>
          <li><a href='#'>R18</a><li>
          <li><a href='#'>Contact</a><li>
        </ul>
      </nav>
    </header>


    <div id="words">
      <h2>Kissing </h2>

      <ul class="menu-items">
  <li>NZ<span class="word">Hook Up</span></li>
  <li>AUSSIE<span class="word">Pashing</span></li>
  <li>UK<span class="word">Snog</span></li>
  <li>USA<span class="word">Make Out</span></li>

</ul>
</div>

  </body>

</html>
