<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <meta charset="utf-8" />
    <title>Slang Across The World</title>
    <meta name="description" content="Kiwi, aussie, British and American Slang!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
            <li>  <img id= logo src="{{ url_for('static', filename='world.png') }}" />
          <li><a href='/'>Home</a><li>
          <li><a href='expressions'>Expressions</a><li>
          <li><a href='Sayings'>Sayings</a><li>
          <li><a href='Objects'>Objects</a><li>
          <li><a href='R18'>R18</a><li>

        </ul>
      </nav>
    </header>

    <div id="menu">
      <h2>Choose A R18 Word </h2>

      {{ result }}

      <div id="categories">
        {% for category in result %}
        <p>
          <a class="btn-categories" href="{{category[0]}}">{{category[0]}}</a>
        </p>
        {% endfor %}
      </div>

    <div id="footer">
      Disclaimer: May have inappropriate content
    </div>

  </body>

</html>
