<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
    <meta charset="utf-8" />
    <title>Slang Across The World</title>
    <meta name="description" content="Kiwi, aussie, British and American Slang!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
            <li>  <img id= logo src="{{ url_for('static', filename='world.png') }}" />
          <li><a href='/'>Home</a><li>
          <li><a href='expressions'>Expressions</a><li>
          <li><a href='Sayings'>Sayings</a><li>
          <li><a href='Objects'>Objects</a><li>
          <li><a href='R18'>R18</a><li>

        </ul>
      </nav>
    </header>

    <div id="menu">
      <h2>Choose a Saying </h2>

      <div id="categories">
        <p>
          <a class="btn-categories" href="man">A Man</a>
        </p>
        <p>
          <a class="btn-categories" href="friend">Friend</a>
        </p>
        <p>
          <a class="btn-categories" href="good">Good</a>
        </p>
        <p>
          <a class="btn-categories" href="goodbye">Goodbye</a>
        </p>
        <p>
          <a class="btn-categories" href="excellent">Excellent</a>
        </p>
        <p>
          <a class="btn-categories" href="chat">A Chat</a>
        </p>
      </div>


  </body>

</html>
